:root {
    /* App*/
    --base-font-size: 16px;
    --font-size-large: 2.5rem;
    --font-size-medium: 1.2rem;
    --font-size-small: 0.9rem;
    --border-radius: 0.625rem;
    --border-radius-large: 0.9375rem;
    --border-radius-pill: 1.875rem;

    --box-shadow-light: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.2);
    --box-shadow-medium: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.3);
    --box-shadow-heavy: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.2);

    --bg-color-dark: #2e2e2e;
    --bg-color-light: #f0f0f0;
    --bg-color-off-white: #f0eeee;
    --bg-color-card: #333;
    --bg-gradient: linear-gradient(to bottom, rgba(17, 6, 6, 0.3), rgba(191, 173, 241, 0.3));

    --font-color-dark: #000000;
    --font-color-light: #fff;
    --font-color-muted: #ccc;

    --highlight-color: #ff9800;
    --star-color: #FFD700;

    --button-bg: #33333396;
    --button-bg-hover: #5c575796;

    /* Recipecard */
    --card-width: 18.75rem;
    --card-height: 25rem;
    --border-radius: 10px;
    --transition-speed: 0.6s;
    --font-title-size: 1.2rem;
    --font-body-size: 1rem;
    --font-color: #000000;
    --bg-front: #fff;
    --bg-back: #f8f8f8;
    --shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --shadow-strong: 0 4px 8px rgba(0, 0, 0, 0.2);
    --highlight-color: #ff9800;
    --star-color: #FFD700;
    --button-bg: #33333396;
    --button-bg-hover: #5c575796;
}